<div class="col-lg-12 ">
    <h6 class="text-muted m-15 comment-title">name | date </h6>
    <span class="p-5 mt-5 mb-5">Comment Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora iure quae alias aspernatur excepturi? Mollitia culpa quam earum voluptate reiciendis quis nesciunt cupiditate iure quae in, esse quisquam fugiat atque.</span>
</div>