<div class="footer">
    <p class="text-center"><i class="far fa-copyright"></i><span class="date"></span> 2021 - CLS Mag</p>
    <div class="row">
        <div class="col-lg-6 text-center">
            <h4>Follow-us</h4>
            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a> </li>
                <li><a href=""><i class="fas fa-envelope-square"></i></a> </li>
            </ul>
        </div>
        <div class="col-lg-6 text-center" >
            <h4 >CLS-Mag</h4>
            <p>
                <p>Magazine about Culture ,Leadership and Society</p>
                <p> Call us : +237 673869974, 693861216</p>
                <p>Made with <i class="fas fa-heart-square" style="color: red;"></i> and <i class="fas fa-coffee" style="color: #000;"></i> by <a href=""> francine Madoh</a></p>
            </p>
        </div>
    </div>
    
</div>