<div class="footer">
    <div class="row termsandconditions">
        <div class="col-lg-4 text-center">
            <p>
                <a href="">Nous contacter</a>
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <p>
                <a href="">Politique de confidentialitê</a>
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <p>
                <a href="">Conditions d'utilisations</a>
            </p>
        </div>
    </div>
    <hr style="border-color: #fff; font-size: 2px;">
    <p class="text-center">
        <span class="date"></span>2022 - <span style="font-size: 40px; text-transform: uppercase;">C</span>ollect<span style="font-size: 40px; text-transform: uppercase;">I</span>t</p>
    <div class="row">
        <div class="col-lg-6 text-center">
            <h4>Follow-us</h4>
            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a> </li>
                <li><a href=""><i class="fas fa-envelope-square"></i></a> </li>
            </ul>
        </div>
        <div class="col-lg-6 text-center">
            <h4><span style="font-size: 40px; text-transform: uppercase;">C</span>ollect<span style="font-size: 40px; text-transform: uppercase;">I</span>t</h4>
            <h6>Data experts for your growth !</h6>
            <p>
            <p> Call us : +237 81076561</p>
            <p>Made with <i class="fas fa-heart-square" style="color: red;"></i> by <a href=""> Xtends Inc</a></p>
            </p>
        </div>
    </div>

</div>