<div class="card " style="width: 22rem;">
    <img src="/images/plan.jpg" class="card-img-top img-fluid" alt=" Post Illustration">
    <div class="card-body">
      <h5 class="card-title">Why You should challenge Yourself</h5>
      <h6 class="card-subtitle mb-2 text-muted">12/07/2021 : by @sophiaKendrick </h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link btn custom">Read More</a>
      <a href="#" class="card-link btn btn-secondary"> Edit</a>
      <a href="#" class="card-link btn btn-danger">Delete</a>
    </div>
  </div>